.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 20px;
    text-align: center;
}

.container h1 {
    margin-bottom: 20px;
}

.container form {
    display: flex;
    flex-direction: column;
}

.container label {
    text-align: left;
    margin-bottom: 1px;
}

.container input {
    padding: 10px;
    margin-bottom: -5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.container button {
    padding: 10px;
    background: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}